*{margin: 0;padding: 0;box-sizing: border-box;}

nav{
    
}

.nav-socials i{
    color: #535353;
}
.nav-socials{
    height: 100%;
}

.container{

}

/* .nav-directon{
    width: 100px;
    height: 100px;
    background-color: #535353;
} */